In [4]:
library(reticulate)
use_python('C:/Users/2106-017/ANACON~1/python.exe') # 아나콘다에 해당 머신러닝(라이트쥐비엠)이 깔려있어야한다!
sk = import('sklearn.linear_model')

sk.met = import('sklearn.metrics')

In [2]:
library(magrittr)
library(dplyr)
library(rvest)

다음의 패키지를 부착합니다: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [1]:
train = read.csv('C:/Users/2106-017/Downloads/229255_bus_riders_at_rush_hour_data/train.csv',fileEncoding='utf-8')
test = read.csv('C:/Users/2106-017/Downloads/229255_bus_riders_at_rush_hour_data/test.csv',fileEncoding='utf-8')
bts = read.csv('C:/Users/2106-017/Downloads/229255_bus_riders_at_rush_hour_data/bus_bts.csv' ,fileEncoding='utf-8')

In [5]:
origin = read.csv('C:/Users/2106-017/Downloads/229255_bus_riders_at_rush_hour_data/test.csv',fileEncoding='utf-8') # id컬럼 붙이기 위해 가져옴

In [11]:
head(train)
head(test)
head(bts)

  X.1 weekdays X bus_route_id X18.20_ride weekday out ride6_8 ride8_10
1 1   1        1 4270000       0          0       1    1       7
2 2   1        2 4270000       5          0       1    5       6
3 3   1        3 4270000       2          0       1    2       2
4 4   1        4 4270000      53          0       0   17      32
5 5   1        5 4270000       0          0       0    0       0
6 6   1        6 4270000       0          0       0    0       0
  ride10_12 off6_8 off8_10 off10_12 latitude longitude on_people off_people
1  8        0      0       0        33.48990 126.4937  212558    144557
2 11        0      0       0        33.48944 126.4851  212558    144557
3  0        0      0       0        33.48181 126.4735  212558    144557
4 30        0      0       0        33.50577 126.4925  212558    144557
5  0        0      1       0        33.25579 126.4126  212558    144557
6  1        0      1       1        33.25862 126.4044  212558    144557

  X.1 weekdays X      bus_route_id weekday out ride6_8 ride8_10 ride10_12
1 1   1        170859 21480000     0       0   0       0        0
2 2   1        170858 21480000     0       0   0       1        0
3 3   1        170863 21480000     0       0   0       0        2
4 4   1        170829 21440000     0       0   0       3        0
5 5   1        170830 21440000     0       0   0       5        0
6 6   1        170831 21440000     0       0   0       4        0
  off6_8 off8_10 off10_12 latitude longitude on_people off_people
1 0      8       10       33.48963 126.4860  212558    144557
2 0      0        3       33.49143 126.4968  212558    144557
3 0      0        0       33.26541 126.3715  212558    144557
4 0      2        0       33.31044 126.3410  212558    144557
5 0      0        0       33.29189 126.2848  212558    144557
6 0      0        0       33.28755 126.2824  212558    144557

  user_card_id bus_route_id vhc_id    geton_date geton_time geton_station_code
1 1.01001e+15  23000000     149793674 2019-09-10 06:34:45    360
2 1.01001e+15  23000000     149793674 2019-09-10 06:34:58    360
3 1.01916e+15  21420000     149793535 2019-09-10 07:19:07   2495
4 1.01915e+15  21420000     149793512 2019-09-09 09:14:47   3282
5 1.01001e+15  21420000     149793512 2019-09-09 09:28:53   2820
6 1.01915e+15  31520000     149793453 2019-09-10 07:54:08    189
  geton_station_name           getoff_date getoff_time getoff_station_code
1 노형오거리                   2019-09-10  07:10:31     592
2 노형오거리                   2019-09-10  06:56:27    3273
3 동광환승정류장4(제주방면)    2019-09-10  07:40:29     431
4 대정환승정류장(대정읍사무소) 2019-09-09  10:02:46     431
5 삼정지에듀                   2019-09-09  10:21:37    2972
6 도호동                       2019-09-10  08:07:09    3539
  getoff_station_name user_category user_count
1 화북초등학교        1             1
2 고산동산(광양방면)  1             1
3 정존마을            4             1
4 정존마을            1             1
5 제주국제공항(종점)  4             1
6 탐라도서관          4             1

In [16]:
colnames(train)
colnames(test)

 [1] "weekdays"     "X"            "bus_route_id" "X18.20_ride"  "weekday"
 [6] "out"          "ride6_8"      "ride8_10"     "ride10_12"    "off6_8"
[11] "off8_10"      "off10_12"     "latitude"     "longitude"    "on_people"
[16] "off_people"

 [1] "weekdays"     "X"            "bus_route_id" "weekday"      "out"
 [6] "ride6_8"      "ride8_10"     "ride10_12"    "off6_8"       "off8_10"
[11] "off10_12"     "latitude"     "longitude"    "on_people"    "off_people"

In [17]:
length(train)
length(test)

[1] 16

[1] 15

# sklearn.linearRegression

In [5]:
# linear_model
library(reticulate)
use_python('C:/Users/medici/anaconda3/python.exe')
sk = import('sklearn.linear_model')

sk.met = import('sklearn.metrics')

In [31]:
# 데이터 분리
x = subset(train,select=-X18.20_ride)
y = train$X18.20_ride

 int [1:415423] 0 5 2 53 0 0 3 0 2 0 ...

In [33]:
# 모델형성
lr_model = sk$LinearRegression()
#모델학습
lr_model$fit(x,y)

LinearRegression()

In [36]:
#모델예측
lr_pred=lr_model$predict(x) # 모의고사

In [39]:
#모델평가
lr_r = sk.met$r2_score(y, lr_pred)
lr_r

lr_rmse = sk.met$mean_squared_error(y,lr_pred)^0.5
lr_rmse

[1] 0.4395837

[1] 3.535145

In [49]:
lr_model$summary

ERROR: Error in py_get_attr_impl(x, name, silent): AttributeError: 'LinearRegression' object has no attribute 'summary'

# sklearn.logisticRegression

In [45]:
# 모델형성
logistic_model = sk$LogisticRegression()
# 모델학습
logistic_model$fit(x,y)

LogisticRegression()

In [51]:
#모델예측
logistic_pred=logistic_model$predict(x) # 모의고사

In [52]:
#모델평가
logistic_r = sk.met$r2_score(y, logistic_pred)
logistic_r

logistic_rmse = sk.met$mean_squared_error(y,logistic_pred)^0.5
logistic_rmse

[1] -0.06918409

[1] 4.882903

In [58]:
stat = import('statsmodels')

# sklearn.lightgbm

In [6]:
# lightgbm
sk1=import('lightgbm')

In [7]:
# 데이터 분리
# 위에 반복되는 코드 : 이해를 위해 붙여넣음
# x = subset(train,select=-X18.20_ride)
# y = train$X18.20_ride

In [8]:
# 모델형성
lgbm_model = sk1$LGBMRegressor()
#모델학습
lgbm_model$fit(x,y)

LGBMRegressor()

In [38]:
#모델예측
lgbm_pred=lgbm_model$predict(x)

In [42]:
#모델평가
r = sk.met$r2_score(y, lgbm_pred)
r
rmse = sk.met$mean_squared_error(y,lgbm_pred)^0.5
rmse

[1] 0.7270988

[1] 2.466917

# lm()

In [64]:
lm_model = lm(X18.20_ride~.,train)
lm_model

Call:
lm(formula = X18.20_ride ~ ., data = train)

Coefficients:
 (Intercept)           X.1      weekdays             X  bus_route_id
   2.744e+01     2.986e-06    -1.878e-01    -6.898e-08    -2.406e-08
     weekday           out       ride6_8      ride8_10     ride10_12
  -3.196e-01    -1.128e-01     1.144e-01     2.358e-01     5.744e-01
      off6_8       off8_10      off10_12      latitude     longitude
   2.358e-01     1.297e-01     5.835e-02     7.501e-01    -3.999e-01
   on_people    off_people
   3.034e-05    -5.328e-05

In [65]:
summary(lm_model)

Call:
lm(formula = X18.20_ride ~ ., data = train)

Residuals:
    Min      1Q  Median      3Q     Max
-69.450  -0.641  -0.110   0.219 244.052

Coefficients:
               Estimate Std. Error t value Pr(>|t|)
(Intercept)   2.744e+01  5.051e+00   5.432 5.57e-08 ***
X.1           2.986e-06  3.332e-07   8.962  < 2e-16 ***
weekdays     -1.878e-01  2.077e-02  -9.041  < 2e-16 ***
X            -6.898e-08  4.670e-08  -1.477    0.140
bus_route_id -2.406e-08  1.569e-09 -15.340  < 2e-16 ***
weekday      -3.196e-01  3.179e-02 -10.055  < 2e-16 ***
out          -1.128e-01  4.321e-02  -2.612    0.009 **
ride6_8       1.144e-01  2.391e-03  47.846  < 2e-16 ***
ride8_10      2.358e-01  2.137e-03 110.309  < 2e-16 ***
ride10_12     5.744e-01  2.303e-03 249.362  < 2e-16 ***
off6_8        2.358e-01  4.146e-03  56.866  < 2e-16 ***
off8_10       1.297e-01  2.914e-03  44.494  < 2e-16 ***
off10_12      5.835e-02  3.037e-03  19.212  < 2e-16 ***
latitude      7.501e-01  5.247e-02  14.295  < 2e-16 ***
longitude    -3.999e-01  3.940e-02 -10.149  < 2e-16 ***
on_people     3.034e-05  3.053e-06   9.937  < 2e-16 ***
off_people   -5.328e-05  5.453e-06  -9.770  < 2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 3.535 on 415406 degrees of freedom
Multiple R-squared:  0.4396,	Adjusted R-squared:  0.4396
F-statistic: 2.036e+04 on 16 and 415406 DF,  p-value: < 2.2e-16

In [68]:
 library(forecast)
accuracy(lm_model)

             ME           RMSE     MAE      MPE MAPE MASE
Training set 4.236703e-17 3.535145 1.244063 NaN Inf  0.6817508

# 제출

In [16]:
submission1 = lgbm_model$predict(test)
head(submission1)

[1] 0.7422286 0.7890397 0.6316873 0.9261212 1.3498618 0.9576112

In [19]:
length(rownames(as.data.frame(submission1)))

[1] 228170

In [22]:
length(rownames(origin['id']))

[1] 228170

In [24]:
final = cbind(origin['id'], as.data.frame(submission1) )
length(rownames(final))
typeof(final)

[1] 228170

[1] "list"

In [27]:
final = rename(final, '18~20_ride'='submission1')
head(final)

  id     18~20_ride
1 415423 0.7422286
2 415424 0.7890397
3 415425 0.6316873
4 415426 0.9261212
5 415427 1.3498618
6 415428 0.9576112

In [28]:
write.csv(final,'submission_2조.csv',row.names=FALSE)